n8n-payslip-sender.json
{
  "name": "שליחת תלושים - Payslip Sender",
  "nodes": [
    {
      "parameters": {
        "content": "## 📑 Payslip Sender (Bulk)\n\n**Webhook URL:** `/webhook/send-payslip`\n\n**אימות:** Header Auth מובנה ב-Webhook node — n8n דוחה בקשות לא מורשות ב-403 לפני שמתחילה זרימה (ללא ניצול execution quota).\n\n**Bulk mode:** קריאת webhook אחת מעבדת **N תלושים** ב-execution אחד.\n\n**שדות שמגיעים ב-body:**\n- `tasks` (JSON string — array של תלושים: index, binary_key, filename, emails, subject, body_html, employee_number, name, department, category, month, count)\n- `send_at`, `send_at_utc`, `schedule_mode`, `scope` (משותפים לכל המשימות)\n\n**קבצים מצורפים:** `file_0`, `file_1`, ... — PDF לכל תלוש לפי `binary_key` ב-tasks.\n\n### אחרי ייבוא:\n1. **צור Credential של Header Auth:**\n   - Credentials → Create New → Header Auth\n   - Name (header): `X-Webhook-Secret`\n   - Value: מפתח אקראי חזק (`openssl rand -hex 24`)\n2. **קשר אותו ל-Webhook node** (שדה Credential for Header Auth).\n3. הגדר Microsoft Outlook / Gmail credential ב-'Send a message'.\n4. אם payload גדול מ-16MB — הגדל את `N8N_PAYLOAD_SIZE_MAX` ב-n8n.\n5. Activate את ה-workflow.\n6. ב-HTML הזן: `שם-סביבה=אותו-מפתח` (למשל `orenmeshi=<secret>`).",
        "height": 520,
        "width": 420,
        "color": 4
      },
      "id": "sticky-1",
      "name": "הוראות",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 60]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-payslip",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "1481da40-7567-497c-ad51-dbe6e5c3cbe8",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [656, -656],
      "webhookId": "send-payslip"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst allBinary = $input.first().binary || {};\n\nlet tasks = [];\ntry {\n  tasks = JSON.parse(b.tasks || '[]');\n} catch (_) {\n  tasks = [];\n}\nif (!Array.isArray(tasks) || !tasks.length) {\n  throw new Error('No tasks in payload — expected JSON array under field \"tasks\"');\n}\n\nconst shared = {\n  schedule_mode: b.schedule_mode || 'now',\n  send_at: b.send_at || 'now',\n  send_at_utc: b.send_at_utc || 'now',\n  scope: b.scope || 'employee',\n};\n\nreturn tasks.map((t, idx) => {\n  const emails = (Array.isArray(t.emails) ? t.emails : String(t.emails || '').split(/[,;]+/))\n    .map(e => String(e).trim())\n    .filter(e => /@/.test(e));\n  const key = t.binary_key || ('file_' + (t.index != null ? t.index : idx));\n  const fileBin = allBinary[key];\n  return {\n    json: {\n      ...shared,\n      task_index: idx,\n      emails_array: emails,\n      recipients_count: emails.length,\n      subject: t.subject || 'תלוש שכר',\n      body: t.body || '',\n      body_html: t.body_html || ('<div dir=\"rtl\">' + (t.body || '') + '</div>'),\n      employee_number: t.employee_number || '',\n      name: t.name || '',\n      department: t.department || '',\n      category: t.category || '',\n      month: t.month || '',\n      count: t.count || '',\n      filename: t.filename || (fileBin && fileBin.fileName) || 'attachment.pdf',\n    },\n    binary: fileBin ? { data: fileBin } : {}\n  };\n});"
      },
      "id": "9a4b99a2-bcb2-4fd5-8189-735a221b5531",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, -656]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-scheduled-1",
              "leftValue": "={{ $json.schedule_mode }}",
              "rightValue": "scheduled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "05442ecd-7f7b-440d-9cc4-c51e62b6b040",
      "name": "האם מתוזמן?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1088, -656]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"scheduled\", \"send_at_utc\": $json.send_at_utc, \"recipients_count\": $('Normalize').all().reduce((s, i) => s + (i.json.recipients_count || 0), 0), \"tasks_count\": $('Normalize').all().length, \"scope\": $json.scope } }}",
        "options": {}
      },
      "id": "533894b6-7002-4792-b0c7-2cc67890a222",
      "name": "Respond Scheduled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1200, -880]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.send_at_utc }}"
      },
      "id": "687d3e07-d57b-4a26-930c-473dce57b353",
      "name": "המתן עד מועד",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1424, -768],
      "webhookId": "wait-payslip"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails_array",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "current_email",
          "includeBinary": true
        }
      },
      "id": "c29786a1-ade1-42e2-b369-6f0b8921a7bb",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1648, -688]
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.current_email }}",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.body_html }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          },
          "bodyContentType": "html",
          "isReadReceiptRequested": true
        }
      },
      "id": "79cc9a90-3432-42e4-8c9a-aff6e51c5ca0",
      "name": "Send a message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1872, -672],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function pickErr(item) {\n  const out = (item && item.json) || {};\n  if (out.error && typeof out.error === 'object') {\n    const g = out.error;\n    const msg = (typeof g.message === 'string' && g.message)\n      || (g.message && typeof g.message === 'object' && g.message.error && g.message.error.message)\n      || g.code;\n    if (typeof msg === 'string' && msg.trim()) {\n      return g.code && msg !== g.code ? (g.code + ': ' + msg) : msg;\n    }\n    try { return JSON.stringify(g).slice(0, 240); } catch (_) { return 'graph error'; }\n  }\n  if (typeof out.error === 'string' && out.error.trim()) return out.error;\n  const e = item && item.error;\n  if (!e) return null;\n  if (typeof e === 'string') return e;\n  const bodies = [];\n  if (e.context) bodies.push(e.context.data, e.context.response, e.context.responseData);\n  if (e.cause) {\n    bodies.push(e.cause.body, e.cause.responseData, e.cause.data);\n    if (e.cause.response) bodies.push(e.cause.response.data, e.cause.response.body, e.cause.response);\n  }\n  bodies.push(e.responseData, e.responseBody, e.lastResponse, e.errorResponse, e.data);\n  if (e.response) bodies.push(e.response.data, e.response.body, e.response);\n  for (let b of bodies) {\n    if (!b) continue;\n    if (typeof b === 'string') { try { b = JSON.parse(b); } catch (_) {} }\n    if (b && typeof b === 'object') {\n      const ge = b.error && typeof b.error === 'object' ? b.error : (b.code || b.message ? b : null);\n      if (ge) {\n        const code = ge.code || '';\n        const m = (typeof ge.message === 'string' && ge.message) ||\n                  (ge.message && typeof ge.message === 'object' && ge.message.error && ge.message.error.message) || '';\n        if (code || m) return (code && m) ? (code + ': ' + m) : (code || m);\n      }\n    }\n  }\n  const desc = typeof e.description === 'string' ? e.description.trim() : '';\n  const msg = typeof e.message === 'string' ? e.message.trim() : '';\n  if (desc && msg && desc !== msg) return msg + ' — ' + desc;\n  if (desc) return desc;\n  if (msg) {\n    const probe = ' [keys ctx=' + Object.keys(e.context||{}).join('|') + ' cause=' + Object.keys(e.cause||{}).join('|') + (e.cause && e.cause.response ? ' cresp=' + Object.keys(e.cause.response).join('|') : '') + ']';\n    return msg + probe;\n  }\n  if (e.httpCode) return 'HTTP ' + e.httpCode;\n  try { return JSON.stringify(e).slice(0, 240); } catch (_) {}\n  return null;\n}\n\nconst items = $input.all();\nlet split = [];\ntry { split = $('Split Out').all(); } catch (_) { split = items; }\nconst failures = [];\nlet ok = 0;\nfor (let i = 0; i < items.length; i++) {\n  const msg = pickErr(items[i]);\n  if (msg) {\n    const orig = (split[i] && split[i].json) || (items[i] && items[i].json) || {};\n    const out = (items[i] && items[i].json) || {};\n    failures.push({\n      email: orig.current_email || out.current_email || 'unknown',\n      filename: orig.filename || out.filename || '',\n      error: msg,\n      http_code: (out.error && out.error.code) || (items[i].error && items[i].error.httpCode) || null\n    });\n  } else {\n    ok++;\n  }\n}\nconst scheduleMode = (split[0] && split[0].json && split[0].json.schedule_mode) || (items[0] && items[0].json && items[0].json.schedule_mode) || 'now';\nconst total = items.length;\nconst status = failures.length === 0\n  ? (scheduleMode === 'scheduled' ? 'scheduled' : 'sent')\n  : (ok === 0 ? 'error' : 'partial');\nreturn [{\n  json: {\n    status: status,\n    sent: scheduleMode === 'now' ? ok : 0,\n    scheduled: scheduleMode === 'scheduled' ? ok : 0,\n    failed: failures.length,\n    total: total,\n    failures: failures,\n    schedule_mode: scheduleMode,\n    send_at_utc: (split[0] && split[0].json && split[0].json.send_at_utc) || 'now',\n    scope: (split[0] && split[0].json && split[0].json.scope) || 'employee',\n    recipients_count: total\n  }\n}];"
      },
      "id": "01e999be-9e5d-45e3-911e-d64624a17a8c",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2096, -672]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-scheduled-2",
              "leftValue": "={{ $json.schedule_mode }}",
              "rightValue": "scheduled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4b4b65c-4e05-45c7-88ea-4dbeaa277589",
      "name": "כבר הגיב?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2320, -672]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": $json.status, \"sent\": $json.sent, \"failed\": $json.failed, \"total\": $json.total, \"failures\": $json.failures } }}",
        "options": {}
      },
      "id": "d3b7e33b-7a85-45b5-a61a-c58ed7a71158",
      "name": "Respond Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2544, -560]
    },
    {
      "parameters": {
        "content": "### ⚠️ הערות\n- אימות ה-header נעשה ע\"י n8n **לפני** הפעלת הזרימה — מי שלא שולח header נכון מקבל 403 ולא צורך execution quota.\n- ה-Webhook משתמש ב-`responseNode` — הזרימה חייבת להחזיר דרך `Respond Scheduled` או `Respond Sent`.\n- במצב מתוזמן: 'Respond Scheduled' מסכם דרך `$('Normalize').all()`, עונה מיד, וה-N items זורמים ל-Wait.\n- ה-Wait משתמש ב-`send_at_utc` — חד-משמעי ללא TZ.\n- אל תכניס את המפתח לקובץ ה-JSON שב-git! המפתח חי רק ב-credential וב-HTML המקומי.",
        "height": 280,
        "width": 420,
        "color": 5
      },
      "id": "sticky-2",
      "name": "הערות",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1424, -380]
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "האם מתוזמן?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "האם מתוזמן?": {
      "main": [
        [
          {
            "node": "Respond Scheduled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Scheduled": {
      "main": [
        [
          {
            "node": "המתן עד מועד",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "המתן עד מועד": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "כבר הגיב?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "כבר הגיב?": {
      "main": [
        [],
        [
          {
            "node": "Respond Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
